/*Aventura  */
h3{
    font-family: 'Press Start 2P',cursive;
    display: flex;
    justify-content: center;
    color: black;
    /* padding: 20px; */
}

img{ 
    width: 100%;    
}  
.col-md-6.float-md-start.mb-3.ms-md-3{
    padding: 20px; 

}
ol{
    list-style: none;
}


/* Lucha */
.flex-shrink-0.me-3{
    width: 75px;
}

.container{
    margin-bottom: 20px;
}

