<div class="input-box" >

    <h1 style="color: white;">hola soy {{usuario}} </h1>


    <div style="display: block;">  
        <p class="text-end" style="color: white;"> Hola <strong> {{usuario}}! </strong>  <a 
        class="btn btn-danger" href="/admin/login/logout"> Cerrar
        session <i class="fas fa-sign-out-alt"></i> </a> </p>
    </div>
</div>