.separar{
    padding-top: 66px;
}

body{
    background-color: #f7f3f3 ;
}

.container{
    background-color: #F7F9F9;
    box-shadow: -2px 10px 20px 8px rgba(0,0,0,0.69);
} 

/* .container-fluid{
    margin: 0;
    padding: 0;
} */

@media screen and (min-width: 767px ){
    
    .separar{
        display: none;
    }
}